:root
{
   --font-family: 'Times New Roman', Times, serif,sans-serif;
   --font-size: medium;
   --background-color: #fcfcfc;
   --border-bottom-left-radius: 0.5rem;
   --primary-color:#050505;
   --secondary-color:#a17a69;
   --line-height: 1.7rem;
   --transition: 03.s;
   --text-shadow: #8b8eaf;
   --bottom-margin:0.5rem;
}
html
{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul.navigation{
    
   
    background-color:#fcfcfc;
    
    
    text-align: center;
    
    
}
.a{
    margin: 8px;
    text-align:left;
    text-decoration: none;
    color:var(--primary-color)
    var(--transition);


}
a:hover{
    color:var(--secondary-color);
    border-bottom:2rem  solid var(--secondary-color) ;
}
body{
    font-family: var(--font-family);
}
nav.navigation{
    display: flex;
    gap: 1.5rem;
}
nav.navigation.a
{
    font-weight: 100%;
}
nav.menu{
    position:sticky;
    top:0;
    left: 0;
    z-index: 1;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    background-color:whitesmoke;
    box-shadow: 0 3px 5px,rgba(0,0,0, 0.1);
}
#dk{
    color: var(--primary-color);
}
#dk h1{
    color: orangered;
}
.burger-menu{
    color:black
    var(--font-size)
    border 0;
    background-color:transparent
    cursor pointer
    display none
}
p.text{
    text-transform: capitalize;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: fit-content;
    margin: auto;
}
.img{
    height: 15rem;
    width: 10rem;
}
.bio
{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-color);

}
.title{
    margin-bottom: var(--bottom-margin);
}
.text{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
.more-about{
    background-color: #fcfcfc;
    padding:1rem 6rem;

}
.more-about h2{
    margin-bottom: 0.5rem;
    text-align: center;
}
.more-about p{
    text-transform: capitalize;
    justify-content:space-evenly;
}
.container{
    width: 1000px;
    margin: auto;
    
    display:flex;
    justify-content: space-between;
    align-content:space-around ;
    margin-top: auto;
    padding: 2rem;
    flex-wrap: wrap;
    align-self:flex-start;
    
}
.skill
{
    max-width: 68.5rem;
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    align-content: flex-start;
}  
.warper img
{
 
   padding: 1.25rem;
}

.icon{
    height: 10.85rem;
    width: 10.25rem;
}
.icon-card{
    background: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-color);
    padding: 20px;
    margin: 10px;
}
.contact{
    margin: 2rem;

}
.contact h2{
    text-align: center;
    margin-bottom: auto;
}

.contact-form-container{
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.93rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #a17a69;
}
.contact-form-container label{
    line-height: normal;
    font-weight: 100%;
    color: var(--primary-color);

}
.contact-form-container textarea{
    min-height: auto;
    font-size: 14px;
}
.contact-form-container .input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}
.input-placeholder::placeholder{
    padding-right: 0.5rem;
    color: var(--primary-color);

}
.submit-btn{
    
    background-color:darkgray;
    border: 10px  solid darkgray;
    cursor: pointer;
    position: inherit;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1rem; 
    font-weight: 100%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);


}
.submit-btn:hover{
    background-color: darkgray;
    border: 2px  solid darkgray;
    cursor: pointer;

}
.footer{
    background-color: #fcfcfc;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
